<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>
    <body class="backround">
    <form action="AddUser" method="post">
        <br>
        <div align="right" >
        <h4>If already have an account log in here<a href="LogIn.html"> <input class="submit" type="submit" value="Log In"/></a>
        </h4>
        </div>
                
        <center>
            <h4>or</h4>
            <h1>Sign Up Here</h1>
            Name :<input required pattern="[a-zA-Z ]*" type="text" name="name" style="margin-left:103px"><br><br>        
            phone Number :<input required pattern="[789][0-9]{9}" type="text" name="phonenumber" style="margin-left:32px"><br><br>
            E-mail :<input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" name="email" style="margin-left:103px"><br><br>
            password :<input required pattern=".{6,}" title="Six or more characters" type="password" name="password" style="margin-left:78px"><br><br>
            Address :<input required pattern="[a-zA-Z ]*" type="text" name="address" style="margin-left:90px"><br><br>
            <input class="submit" type="submit" value="Sign Up">
            <a href="User.html"><button class="submit" type="button" style="margin-left:10px">Go Back</button></a>
        </center>
    </form>
    </body>
</html>